.spotlightMode > :first-child iframe{
    height: 400px; 
    width: calc(95vw - var(--chat-width))
}

.spotlightMode > .dragSpotlight iframe{
    height: 400px; 
    width: calc(95vw - var(--chat-width))
}

/* hide move down on non-spotlighted stream */
.spotlightMode.editMode > :first-child > :nth-child(2) > #moveDownBtn{
    display: block;
}

:not(.spotlightMode).editMode > :first-child > :nth-child(2) > #moveUpBtn{
    display: block;
}

.editMode > * > :nth-child(2) > #deleteBtn{
    display: block;
}

/* show drag div in edit mode on hover */
.editMode > div:hover > :nth-child(3) {
    display: flex
}

.dragging > * > :first-child {
    pointer-events: none;
}
