.spotlightMode > :first-child > :first-child{
    height: 400px;
    width: calc(95vw - var(--chat-width))
}

/* hide move down on non-spotlighted stream */
.spotlightMode > :not(:first-child) > :nth-child(2) > #moveDownBtn{
    display: none;
}

/* hide move up on spotlight stream */
.spotlightMode > :first-child > :nth-child(2) > #moveUpBtn{
    display: none;
}

/* hide move up button when no spotlight */
:not(.spotlightMode).editMode > * > :nth-child(2) > #moveDownBtn{
    display: none;
}

/* show all buttons in edit mode */
.editMode > div > :nth-child(2) > button {
    display: block;
}

/* show drag div in edit mode on hover */
.editMode > div:hover > :nth-child(3) {
    display: flex
}

.dragging > * > :first-child {
    pointer-events: none;
}
